* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10_3 {
  width: 100%;
  
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin-top: 50px;
}
.v10_4 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 67px;
  margin-left: 16px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display:inline-table;
}
.v10_5 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 236px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_6 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 236px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_7 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 561px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_8 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 561px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_9 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 561px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_10 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 886px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_11 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 886px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_12 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 886px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_13 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 01px;
  left: 236px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_14 {
  width: 293px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 312px;
  left: 236px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_15 {
  width: 293px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 623px;
  left: 236px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_16 {
  width: 158px;
  color: url("../images/v10_16.png");
  position: absolute;
  top: 95px;
  left: 311px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_17 {
  width: 158px;
  color: url("../images/v10_17.png");
  position: absolute;
  top: 406px;
  left: 311px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_18 {
  width: 158px;
  color: url("../images/v10_18.png");
  position: absolute;
  top: 717px;
  left: 311px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_19 {
  width: 189px;
  color: url("../images/v10_19.png");
  position: absolute;
  top: 95px;
  left: 621px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_20 {
  width: 189px;
  color: url("../images/v10_20.png");
  position: absolute;
  top: 406px;
  left: 621px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_21 {
  width: 189px;
  color: url("../images/v10_21.png");
  position: absolute;
  top: 717px;
  left: 621px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_22 {
  width: 210px;
  color: url("../images/v10_22.png");
  position: absolute;
  top: 95px;
  left: 936px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_23 {
  width: 210px;
  color: url("../images/v10_23.png");
  position: absolute;
  top: 406px;
  left: 936px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_24 {
  width: 210px;
  color: url("../images/v10_24.png");
  position: absolute;
  top: 717px;
  left: 936px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_25 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 189px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_26 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_27 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 824px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_28 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 189px;
  left: 574px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_29 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 574px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_30 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 824px;
  left: 574px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_31 {
  margin-left:220px;
}
.v10_32 {
	color: #ed5829;
	width: 158px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  position: absolute;
  margin-top: 28px;
  margin-left: 75px;
}
.v10_33 {
	margin-left:236px;
}
.v10_41 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  left: 236px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_71 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  left: 561px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_101 {
  width: 309px;
  height: 166px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  left: 886px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_131 {
  width: 209px;
  color: rgba(0,0,0,1);
  margin-left: 236px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_161 {
  width: 175px;
  color: url("../images/v10_16.png");
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  position: absolute;
  margin-top: 72px;
  margin-left: 75px;
}
.v10_191 {
  width: 189px;
  color: url("../images/v10_19.png");
  position: absolute;
  left: 621px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_221 {
  width: 210px;
  color: url("../images/v10_22.png");
  position: absolute;
  left: 936px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10_251 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  margin-top: 122px;
}
.v10_281 {
  width: 283px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 189px;
  left: 574px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v23_12 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_13 {
  width: 409px;
  height: 711px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 515px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v23_59 {
  width: 162px;
  color: rgba(99,195,0,1);
  position: absolute;
  top: 203px;
  left: 541px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v23_60 {
  width: 358px;
  color: url("../images/v23_60.png");
  position: absolute;
  top: 242px;
  left: 540px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_14 {
  width: 358px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 331px;
  left: 540px;
  border: 1px solid rgba(145,138,138,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  padding-left: 5px;
}
.v23_62 {
  width: 54px;
  color: url("../images/v23_62.png");
  position: absolute;
  top: 345px;
  left: 556px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_15 {
  width: 358px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 541px;
  border: 1px solid rgba(145,138,138,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  padding-left: 5px;
}
.v23_63 {
  width: 118px;
  color: url("../images/v23_63.png");
  position: absolute;
  top: 406px;
  left: 555px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_16 {
  width: 358px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 541px;
  border: 1px solid rgba(145,138,138,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  padding-left: 5px;
}
.v23_17 {
  width: 358px;
  height: 49px;
  background: rgba(99,195,0,1);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 541px;
  border: 1px solid rgba(99,195,0,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
}
.v23_20 {
  width: 92px;
  color: rgba(99,195,0,1);
  position: absolute;
  top: 534px;
  left: 541px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v23_22 {
  width: 274px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 540px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_23 {
  width: 274px;
  color: rgba(99,195,0,1);
  position: absolute;
  top: 667px;
  left: 540px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_26 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 726px;
  left: 555px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_29 {
  width: 213px;
  color: rgba(0,0,0,1);
  
  top: 606px;
  left: 543px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v23_30 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 702px;
  left: 544px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v23_34 {
  width: 107px;
  color: rgba(234,13,13,1);
  position: absolute;
  top: 713px;
  left: 791px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_31 {
  width: 31px;
  height: 29px;
  background: url("../images/arrow.svg");
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 858px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v23_32 {
  width: 17px;
  background: url("../images/v23_32.png");
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 864px;
  border: 3px solid rgba(255,255,255,1);
}
.modal-content{
	margin-left: -427px;
    margin-top: -200px;
}

.v10_4:hover {
  border-color: #b1d489;
}

.red{
	color:red;
}

.blue{
	color:blue;
}

.weight{
	font-weight: bold;
}
.v23_61{
	width: 358px;
  color: url("../images/v23_60.png");
  position: absolute;
  top: 511px;
  left: 540px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_18 {
  width: 358px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 541px;
  border: 1px solid rgba(145,138,138,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  padding-left: 5px;
}